:root {
	--color-blue-1: #2681ff;

	--bg-blue: var(--color-blue-1);
}

body {
	background-color: #131313;
	font-family: ISO, Arial, sans-serif;
	color: #aaa;
	font-size: 22px;
	line-height: 36px;
}

h1 {
	margin-top: 0px;
	margin-bottom: 0px;
	color: #fff;
	font-size: 40px;
	line-height: 56px;
	font-weight: 400;
}

h2 {
	margin-top: 0px;
	margin-bottom: 0px;
	color: #aaa;
	font-size: 28px;
	line-height: 44px;
	font-weight: 400;
}

h3 {
	margin-top: 0px;
	margin-bottom: 18px;
	color: #fff;
	font-size: 28px;
	line-height: 44px;
	font-weight: 700;
}

h4 {
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}

p {
	margin-bottom: 18px;
}

a {
	color: #2681ff;
	text-decoration: underline;
}

ul {
	margin-top: 0px;
	margin-bottom: 18px;
	padding-left: 32px;
}

.header {
	width: 100%;
	padding: 73px 48px 72px;
	background-color: #000;
}

.main {
	padding-top: 72px;
	padding-bottom: 72px;
}

.wrapper {
	padding-right: 48px;
	padding-left: 48px;
}

.details {
	max-width: 860px;
	margin-right: auto;
	margin-left: auto;
}

.intro {
	max-width: 860px;
	margin-right: auto;
	margin-bottom: 72px;
	margin-left: auto;
}

.detail-item {
	margin-bottom: 72px;
}

.detail-hd {
	margin-bottom: 18px;
	font-size: 28px;
	line-height: 44px;
}

.paragraph {
	font-size: 18px;
	line-height: 32px;
}

.header-content {
	max-width: 860px;
	margin-right: auto;
	margin-left: auto;
}

.nav {
	padding-right: 48px;
	padding-left: 48px;
	background-color: #2681ff;
	color: #000;
	font-size: 18px;
	line-height: 24px;
}

.nav-items {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	max-width: 860px;
	margin-right: -16px;
	margin-left: -16px;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.nav-item-link {
	margin-right: 16px;
	margin-left: 16px;
	color: #000;
}

.nav-wrapper {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	max-width: 860px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 14px;
	padding-bottom: 10px;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.logo {
	width: 128px;
	height: 128px;
	margin-bottom: 32px;
	border-style: solid;
	border-width: 20px;
	border-color: #2681ff;
	border-radius: 50%;
}

.nav-title {
	position: relative;
	font-size: 40px;
	line-height: 40px;
	font-weight: 700;
}

.nav-pin {
	position: absolute;
	left: 48px;
	top: 48px;
	width: 32px;
	height: 32px;
	background-color: #2681ff;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.drop-details {
	max-width: 860px;
	margin-right: auto;
	margin-bottom: 72px;
	margin-left: auto;
	padding: 32px 32px 14px;
	background-color: #102440;
	color: #fff;
}

.callout {
	margin-top: 0px;
	margin-bottom: 0px;
	color: #2681ff;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 4px;
	text-transform: uppercase;
}

.text-highlight {
	color: #fff;
	font-weight: 700;
}

.tag {
	display: inline-block;
	padding-right: 4px;
	padding-left: 4px;
	background-color: #102440;
	color: #fff;
}

.confidential {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding-top: 8px;
	padding-bottom: 8px;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #d2ff2f;
	color: #000;
	text-align: center;
}

.sample-token-set {
	display: -ms-grid;
	display: grid;
	grid-auto-columns: 1fr;
	grid-column-gap: 32px;
	grid-row-gap: 32px;
	-ms-grid-columns: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	-ms-grid-rows: auto;
	grid-template-rows: auto;
}

.sample-token-svg {
	width: 100%;
	height: 100%;
}

.detail-callout {
	max-width: 860px;
	margin-right: auto;
	margin-bottom: 18px;
	margin-left: auto;
	padding: 32px 32px 14px;
	background-color: #102440;
	color: #fff;
}

.footer {
	padding: 72px 48px;
	background-color: #000;
}

.footer-link-set {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-right: -12px;
	margin-left: -12px;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-size: 18px;
	line-height: 24px;
}

.footer-link {
	margin-right: 12px;
	margin-left: 12px;
}

.button {
	border: none;
	margin: 0;
	padding: 0;
	width: auto;
	overflow: visible;

	background: transparent;

	/* inherit font & color from ancestor */
	color: inherit;
	font: inherit;

	/* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
	line-height: normal;

	/* Corrects font smoothing for webkit */
	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit;

	/* Corrects inability to style clickable `input` types in iOS */
	-webkit-appearance: none;

	background-color: var(--bg-blue);
}

@media screen and (max-width: 767px) {
	body {
		font-size: 18px;
		line-height: 28px;
	}

	h1 {
		font-size: 28px;
		line-height: 44px;
	}

	h2 {
		font-size: 22px;
		line-height: 36px;
	}

	.header {
		padding-right: 32px;
		padding-left: 32px;
	}

	.wrapper {
		padding-right: 32px;
		padding-left: 32px;
	}

	.nav {
		padding-right: 32px;
		padding-left: 32px;
	}

	.nav-items {
		display: none;
	}

	.drop-details {
		padding-right: 16px;
		padding-left: 16px;
	}

	.heading {
		font-size: 28px;
		line-height: 44px;
	}

	.sample-token-set {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
	}

	.detail-callout {
		padding-right: 16px;
		padding-left: 16px;
	}

	.footer {
		padding-right: 32px;
		padding-left: 32px;
	}
}

@font-face {
	font-family: 'ISO';
	src: url('../fonts/ISOv0.9-Regular.woff2') format('woff2'),
		url('../fonts/ISOv0.9-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'ISO';
	src: url('../fonts/ISOv0.9-Bold.woff2') format('woff2'),
		url('../fonts/ISOv0.9-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'ISO';
	src: url('../fonts/ISOv0.9-RegularItalic.woff2') format('woff2'),
		url('../fonts/ISOv0.9-RegularItalic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}
